<!DOCTYPE html>
<html>
<head>
	<title>Add Restaurant</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
	<ul>
		<li><a href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right">
			<div class="dropdown">
				<div class="dropbtn">Profile</div>
				<div class="dropdown-content">
					<a href="/admin/profile">View Profile</a>
					<a href="/admin/editProfile">Edit Profile</a>
				</div>
			</div>
        </li>
        <li style="float:right"><a href="/admin/restaurantList">All Restaurants</a></li>
        <li style="float:right"><a class="active" href="/admin/addRestaurant">Add Restaurant</a></li>
    </ul>
    <div align="center">
        <form  method="POST" enctype="multipart/form-data">
            <span align="center">
                <h3>Add Restaurant</h3>
            </span>
            <table width="30%" align="center">
                <tr>
                    <td width="45%">Name</td>
                    <td width="10%">:</td>
                    <td width="45%">
                        <input type="text" name="name" placeholder="Name">
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>:</td>
                    <td>
                        <input type="text" name="description" placeholder="Description">
                    </td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>:</td>
                    <td>
                        <input type="text" name="type" placeholder="Bengali/Chinese">
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>:</td>
                    <td>
                        <input type="text" name="location" placeholder="Location">
                    </td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>:</td>
                    <td>
                        <input type="file" name="imageFile" accept="image/*" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="submit" name="add" value="Add" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>