<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
	<ul>
		<li><a class="active"  href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right">
			<div class="dropdown">
				<div class="dropbtn">Profile</div>
				<div class="dropdown-content">
					<a href="/admin/profile">View Profile</a>
					<a href="/admin/editProfile">Edit Profile</a>
				</div>
			</div>
		</li>
		<li style="float:right"><a href="/admin/restaurants">All Restaurants</a></li>
		<li style="float:right"><a href="/admin/addRestaurant">Add Restaurant</a></li>
    </ul>
    <div align="center">
        <h1>Welcome Home, <%=name%></h1> 
    </div>
	
</body>
</html>