<!DOCTYPE html>
<html>
    <head>
        <title>Food Blog</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>

    <body>
        <ul>
            <li><a class="active"  href="/">Home</a></li>
            <li style="float:right"><a href="/login">Log In</a></li>
            <li style="float:right">
                <div class="dropdown">
                    <div class="dropbtn">Sign Up</div>
                    <div class="dropdown-content">
                        <a href="/signup/member">Member</a>
                        <a href="/signup/admin">Admin</a>
                    </div>
                </div>
            </li>
        </ul>
        <img src="/pictures/indexWallpaper.JPG" width="100%"/>
    </body>
</html>