<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>

    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li style="float:right"><a href="/login">Log In</a></li>
            <li style="float:right">
                <div class="dropdown">
                    <div class="dropbtn">Sign Up</div>
                    <div class="dropdown-content">
                        <a href="/signup/member">Member</a>
                        <a href="/signup/admin">Admin</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="signupDiv" align="center">
            <a href="/signup/member">Sign Up as Member</a>
            <br/>
            <a href="/signup/admin">Sign Up as Admin</a>
        </div>
    </body>
</html>