<!DOCTYPE html>
<html>
    <head>
        <title>Member Sign Up</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>

    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li style="float:right"><a href="/login">Log In</a></li>
            <li style="float:right">
                <div class="dropdown">
                    <div class="dropbtn">Sign Up</div>
                    <div class="dropdown-content">
                        <a href="/signup/member">Member</a>
                        <a href="/signup/admin">Admin</a>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <form  method="POST" enctype="multipart/form-data">
                <span align="center">
                    <h3>Member Sign Up</h3>
                </span>
                <table width="30%" align="center">
                    <tr>
                        <td width="45%">
                            Username
                        </td>
                        <td width="10%">:</td>
                        <td width="45%">
                            <input type="text" name="username" placeholder="Username">
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>:</td>
                        <td>
                            <input type="password" name="password" placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>:</td>
                        <td>
                            <input type="password" name="conPassword" placeholder="Re-type Password">
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>
                            <input type="text" name="name" placeholder="Full Name">
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>
                            <input type="email" name="email" placeholder="Email">
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>
                            <input type="text" name="address" placeholder="Address">
                        </td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td>:</td>
                        <td>
                            <input type="file" name="imageFile" accept="image/*" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="submit" name="signup" value="Sign Up"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>